@tailwind base;
@tailwind components;
@tailwind utilities;

/*====================== Scrolllbar Css ======================*/
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8dce2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #01dac1;
  border-radius: 10px;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 120px;
  font-size: 1.15rem;
  padding: 0.3em 3em 0.3em 1em;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}